tqdm
sentencepiece
datasets
transformers==4.31.0
tensorboard
peft
bitsandbytes
tokenizers
protobuf
openai
tiktoken
wandb
gradio
markupsafe
jsonlines
mecab-python3
unidic-lite
einops
scipy
fire
flask
gpustat
rich
bitarray
cvxpy
func-timeout
timeout-decorator
sympy==1.12
pebble
